/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
 *= require_self
 *= require_tree .
 */

#scenario_title{
  font-size:15px;
}

#session_email {
  width:230px;
}

#session_password {
  width:230px;
}

body {
  background-image: url(wood_1.png);
  color:white;
}

input {
  color: black;
  margin-top:4px;
  width:300px;
}

label {
  margin-top:20px;
}

#signin {
  width:65px;
  text-align: center;
}

.submit {
  width: 75px;
  text-align: center;
  margin-top: 30px;
}

h1,h2,h3,h4,h5,p{
  color:white;
}

h1 {
  text-align: center;
}

a {
  color: #396081;
}
#blue {
  background-color: rgb(171, 182, 185);
  margin-top:10px;
}

.prop_address{
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
}

.lead{
  font-size: 16px;
}

#footer {
  right:0px;
  float:right;
  float:bottom;
}

.inline{
  display:inline-block;
  padding-right: 20px;
  vertical-align: center;
}

#zillow img {
    width: 135px;
    height: 25px;
    float:left;
}

.form_data .popup {
  display: none;
}

.form_data:hover .popup {
  display: block;
  color:grey;
  font-size: 10px;
}

