<div class="footer" id="footer">
  <span class="container">
  <div class="inline">
    <p class="text-muted">All rates subject to change</p>
  </div>
  <div class="inline">
    <p class="text-muted">Rates published daily by Zillow.com</p>
  </div>
  <div class="inline" id="zillow">
      <img src="/assets/zillow.jpg" id="zillow"></img>
  </div>
  </span>
</div>